body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

/*carousel container*/
#cont1 {
  max-width: 100%;
  padding: 0%;
  height: auto;
}

/*headers*/
#popular h1,
h4 {
  font-weight: bold;
}

#live h1,
h4 {
  font-weight: bold;
}

#cont2 h1,
h4 {
  font-weight: bold;
}

/*cards*/
#card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

#card:hover {
  transform: scale(1.07);
  transition: opacity 0.6s ease;
  /* background: linear-gradient(to right, rgb(49, 238, 166), rgb(57, 167, 157)); */
  box-shadow: 0 10px 20px rgba(182, 39, 118, 0.12),
    0 4px 8px rgba(0, 0, 0, 0.06);
}
#cardeck:hover > :not(:hover) {
  opacity: 0.4;
}

/*scroll to top*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: #007bff;
  border: none;
}

/*footer*/
.footer {
  background-color: #1c2331;
  color: white;
}

/*subscribe btn*/
#submit {
  background: #007bff;
}

/*footer form*/
.footform input,
textarea {
  margin-top: 3px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown>.dropdown-toggle:hover {
  background: blue;
  color: white;
  border-radius: 3px;
}
